*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.body1{
    position: relative;
    width: 100%;
    height: 100%;
    background: #041636;
}
nav{
    display: flex;
    width: 84%;
    margin: 5px;;
    padding: 0 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color:orange;
}
.main{
    margin-left: 8%;
    margin-top: 15%;
}

.main h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 10px;
}

span{
    color: orange;
}
.main p{
    color:#555;
    line-height: 22px;

}

.contact{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    margin: 30px 10px;
    border-radius: 5px;
}
.contact:hover{
    color:orange;
}

.images{
    width: 45%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right: 0%;

}
.class{
    font-weight: bold;
    color: black;
}
